h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: black;    
    text-align: center; 
    text-transform: uppercase;
    color: color-mix(in srgb, purple 70%, blue 10%)
}


h3 {
    text-align: center;
    color: color-mix(in srgb, purple 70%, blue 10%)
}

html{
    background-color:color-mix(in srgb, black 90%, blue 10%)
}

img{
    border: 10px double color-mix(in srgb, purple 20%, blue 10%);
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding: 0.2rem;
    } 
