h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: black;
    background-color: whitesmoke;    
    text-align: center; 
    text-transform: uppercase;
}


h3 {
    text-align: center;
    color: black;
}

html{
    background-color: whitesmoke;
}

img{
    border: 10px double black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
    }

.G1{
    margin-bottom: 50px;
}
