h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: black;
    background-color: whitesmoke;    
    text-align: center; 
    text-transform: uppercase;
}


h3 {
    text-align: center;
    color: black;
}

html{
    background-color: whitesmoke;
}

img{
    height: 500px;
    width: 1000px;
    border: 10px double black;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 420px;
    }

.G1{
    margin-bottom: 50px;
}